*.aux
*.bbl
*.blg
*.log
*.out
*.spl
*.gz
*.synctex(busy)
99_review/
*.lof
*.toc
*.autosave
*.slxc
slprj/
VDC_ert_rtw/
*.asv
*.m.txt
*.roadgeo
*.info
.road_cache/*
vdc2022/src_cm4sl/slprj/*
vdc2022/ros/ros1_ws/devel
vdc2022/ros/ros1_ws/build
